body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

header {
  background: #1e1e1e;
  padding: 1rem;
  text-align: left;
}

header h1 {
  margin: 0 0 0.5rem 0;
  color: #00ff99;
}

#search {
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
}

main {
  padding: 1rem;
}

#tag-filter {
  text-align: center;
  margin-bottom: 1rem;
}

#tag-filter button {
  background: #1e1e1e;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 0.3rem 0.6rem;
  margin: 0.3rem;
  border-radius: 20px;
  cursor: pointer;
}
#tag-filter button.active {
  background: #00ff99;
  color: #1e1e1e;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.adgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3px; text-align: center;
}

.video-card {
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 255, 153, 0.2);
}

.video-card h3 {
  margin-top: 0;
  color: #00ff99;
}

video {
  width: 100%;
  border-radius: 10px;
}

.tags span {
  color: #ccc;
  margin-right: 0.5rem;
}

.rating-box {
  font-size: 1.5rem;
  color: #00ff99;
  margin-top: 0.5rem;
}
.pagination-controls {
  text-align: center;
  margin: 2rem 0;
}

.pagination-controls button {
  margin: 0 0.3rem;
  padding: 0.5rem 1rem;
  background: #00ff99;
  color: #121212;
  border-color: #00ff99;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button.active {
  font-weight: bold;
  background: #ffffff;
  color: #00ff99;
  border-color: #00ff99;
}

.footer-popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(18, 25, 23, 0.95);
  color: #b8f1d9;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-popup-content {
  background-color: #1d2a23;
  max-width: 700px;
  width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 15px #0f1a14;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  background: transparent;
  border: none;
  color: #b8f1d9;
  font-size: 2rem;
  cursor: pointer;
}

.popup-details {
  margin-top: 40px;
  line-height: 1.5;
}
